body {
background-image: url('file:///C:/Users/Aniket/Documents/GitHub/tech-challenge/assets/img/africa.jpg');
background-size: cover;
background-repeat: repeat;
}

#btn {
position: fixed;
top: 600px;
right:20px;
}

#album {
position: fixed;
top: 600px;
right:20px;
}

.container {
position: absolute;
top: 100px;
right: 110px;
margin:0 auto 0 auto;
padding:5px;
background: #7a848893;; 
color: white;
}

.navbar a {
float: left;  
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
color: rgb(138, 133, 133);
}
